name: Latest blog post workflow
on:
  workflow_dispatch:
  schedule:
    # 毎週月曜日の 00:00 UTC（日本時間の午前9:00）に実行
    - cron: "0 0 * * 1"
jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "7"
          feed_list: "https://zenn.dev/y_satoshi/feed"
